.container.breadcrumbs
  =link_to "Home", root_path
  %span.arrow >
  =link_to "Services", services_path
  %span.arrow >
  Add a new service
.container.white_bg
  %h2 Thank you!
  %p
    Thanks for taking the time to help us with this project. By sharing this information, you’re helping us understand the way services work across local government and discover ways to make them better.
  %p
    Your suggestions will be looked at by a moderator and we’ll contact you at the email address you gave us if we have any questions.
  %p
    If you have any other comments, queries or suggestions about LocalGov Patterns then you can email us at:
    %strong
      =mail_to ENV['ADMIN_EMAIL']
  = link_to "See the patterns", services_path, class: 'button float_left'
  = link_to "Add another service", new_service_path, class: 'button right'
