.container.breadcrumbs
  =link_to "Home", root_path
  %span.arrow >
  =link_to "Services", services_path
  %span.arrow >
  Add a new service

.container.white_bg
  %h2
    Add a new service

  %p.restrict_full_width
    You can add your own services to the service pattern library and tell us what common patterns they use.

  = simple_form_for @service do |f|

    = render 'shared/services/form_fields', service: @service, f: f

    = f.button :submit, "Add this service", class: "button"

