.container.breadcrumbs
  =link_to "Home", root_path
  %span.arrow >
  =link_to "Services", patterns_path
  %span.arrow >
  Add a new service

.container.white_bg
  %h2
    Add a new service

  %p.description
    You can add your own services to the service pattern library. You can also give us extra details like what steps they might include, what type of organisation they sit in or what type of life event they touch on for the user.

  = simple_form_for @service do |f|

    = render 'shared/services/form_fields', service: @service, f: f

    = f.button :submit, "Add this service", class: "button right"
