%h1
  Service patterns for local government

%h2
  WHAT IS A SERVICE?

%p
  For a user, a service is simple. It’s something that helps them to do something — like plan an event, get help with transportation or find a place to live.

%p
  %i
    “It’s an activity that needs to be done. A verb that comes naturally… that cuts across transactions, call centre menus and around advisors towards its goal.”
  Louise Downe -
  = link_to "Good services are verbs", "https://designnotes.blog.gov.uk/2015/06/22/good-services-are-verbs-2/", target: '_blank'
%p
  Millions of people use local services every day. But these services are often designed and implemented differently. This means that the user experience can be hugely inconsistent across local government.
%p
  We believe that understanding your services is the first step towards improving or transforming them. We think that a design-led approach is the way to build this understanding.
%p
  FutureGov has  been working with Essex County Council to map their services to identify and understand common service patterns. It became clear there is a massive opportunity to open up this work to create opportunities for collaboration and shared knowledge.
%p
  %strong
    In short, to create a shared library of service patterns for local government.

%h2
  WHAT IS A SERVICE PATTERN AND WHATY DOES IT MATTER?

%p
  No two local authorities are the same, or do things in the same way.
%p
  When it comes to the types of needs people have, there are overwhelming similarities. Reporting a problem, applying for something, registering for something and checking eligibility can come from many different user journeys.
%p
  By breaking down services into their component parts, we can start to identify common interactions and tasks across stages of services, as well as common pain points.
%p
  %strong
    These are service patterns.
%p
  When we then start to think about what good looks like, across a whole end-to-end service, we can start to identify standards, as well as considering  ways of working, uses of underlying technology and how services are supported by the right capabilities and processes inside organisations.

%h2
  WHY A SERVICE PATTERN LIBRARY?
%p
  We’ve been working with Essex County Council and we identified over 150 services for residents. Things like ‘reporting a birth’ or ‘applying for a school place’ to ‘reporting a flood’. This has helped us get an understanding of what things look like right now within one county council.
%p
  We want to find many more examples of services and how they are implemented from other local authorities. From there we can start to identify some commonalities and best practices - in short, we can start to prototype a service pattern library.
%p
  A library can support policymakers, service designers and managers to create a more consistent and familiar experiences. To make things quicker, easier and more accessible for their users, and more efficient and cost-effective for their organisation.
%p
  A service pattern library will include when to use a pattern (and when not), how it works, any interdependencies and underlying technology and research.
%p
  By sharing knowledge and best practices, we intend to support how local government scales service design in a much smarter way. 
%h2
  HELP US GET THERE
%p
  This is project is in an early stage.
  %strong
    Right now, we need input from as many local authority sources as we can to build up our initial knowledge base. 
  The more information we can collect, the better our understanding of service patterns will be.
%p
  %strong
    We need you submit details of your own services.
%p
Find out more about
%strong
  how to add a service.

%p
  %strong
    Read about our work

= link_to "What do we think about service patterns",  "https://blog.wearefuturegov.com/what-do-we-think-about-service-patterns-for-local-government-49c75c8a2203", target: '_blank'
= link_to "Understanding your services", "https://blog.wearefuturegov.com/understanding-your-services-3344d4bb1f75", target: '_blank'
= link_to "Sharing and prioritising our common service patterns", "https://servicedesign.blog.essex.gov.uk/2019/05/08/sharing-and-prioritising-our-common-service-patterns/", target: '_blank'

