= content_for :message_body do
  %p
    = "Dear #{@suggester_name},"
  %p
    Thanks for contributing to the LocalGov Patterns project.
  %p
    This is to let you know that we’ve looked at your service suggestion and added it to our service pattern library. You can view it at the
    = link_to 'LocalGov Patterns Library here.', patterns_url
  %p
    If you have any other comments, queries or suggestions about LocalGov Patterns then you can email us at:
  =mail_to ENV['ADMIN_EMAIL']
