= content_for :message_body do
  %p
    = "Dear #{@suggester_name},"
  %p
    Thanks for contributing to the LocalGov Patterns project.
  %p
    We appreciate you taking the time to help us. By sharing this information, you’re helping us understand the way services work across local government and discover ways to make them better.
  %p
    If you have any other comments, queries or suggestions about LocalGov Patterns then you can email us at:
  = ENV['ADMIN_EMAIL']