= content_for :message_body do
  %p
    = "Dear #{@suggester_name},"
  %p
    Thanks for contributing to the LocalGov Patterns project.
  %p
    We appreciate you taking the time to help us. By sharing this information, you’re helping us understand the way services work across local government and discover ways to make them better.
  %p
    Your suggestions will be looked at by a moderator and we’ll contact you at this email address if we need anything else.
  %p
    We would love to
    = link_to "get your feedback", "https://localgovpatterns.typeform.com/to/vZXBCY"
    about your experience on LocalGov Patterns. It’s going to take less than 5 minutes.
  %p
    If you have any other comments, queries or suggestions about LocalGov Patterns then you can email us at:
  =mail_to ENV['ADMIN_EMAIL']
