= content_for :message_body do
  %p
    = "Dear #{@suggester_name},"
  %p
    Thanks for contributing to the LocalGov Patterns project.
  %p
    By sharing this information, you’re helping us understand the way services work across local government. With your insight, we will work to discover ways to make these services better across the UK.
  %p
    Your suggestions will be reviewed and we’ll contact you if anything else is needed.
  %p
    We would love to
    = link_to "get your feedback", "https://localgovpatterns.typeform.com/to/vZXBCY"
    about your experience on LocalGov Patterns. This will only take a few minutes. Otherwise send us an email to
    =mail_to ENV['ADMIN_EMAIL']
    and we will arrange a brief call when it’s good for you.
