footer {
  background: $dark_gray;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      opacity: 0.8;
      color: #fff;
    }
  }

  .fg_logo, .essex_logo {
    display: inline-block;
    margin: 0 10px;
    width: 175px;
    height: 25px;
    background: image-url("fg_logo_white.svg") center center no-repeat;
    background-size: 100%;
    vertical-align: middle;
  }
  .essex_logo {
    width: 169px;
    height: 25px;
    background: image-url("essex_logo_white.png") center center no-repeat;
    background-size: 100%;
  }
  #copywrite {
    max-width: 450px;
    margin: 0 auto;
    font-size: 80%;
    line-height: 1.25;
  }
}
