html {
  color: $black;
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.white_bg {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px rgba(213,197,206,0.07);
}

.button {
  background-color: $brand;

  &:hover {
    background-color: darken($brand, 5%);
  }
  &:active {
    background-color: darken($brand, 10%);
  }
  &.right {
    float: right;
    @include mobile {
      width: 100%;
    }
  }
}

body.index.patterns, body.services.new, body.services.create, body.services.show {
  background-color: $light_grey;
}

.container {
  &.full_container {
    padding-left: 0;
    padding-right: 0;
    @include mobile {
      padding-left: 13.5px;
      padding-right: 13.5px;
    }
  }
}

a {
  color: $brand;
  text-decoration: none;
  &:hover {
    color: darken($brand, 10%);
    text-decoration: underline;
  }
}

h2 {
  margin: 0 0 0.5em;
}


.two_col {
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(2);
  }
}
.only_mobile {
  display: none;
  @include mobile {
    display: block;
  }
}




.breadcrumbs {
  @include desktop {
    padding-top: 7px;
  }
}
