html {
  color: $black;
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  @include desktop {
    line-height: 1.5;
  }
}
.float_left {
  float: left;
}
.button {
  background-color: $brand;

  &:hover {
    background-color: darken($brand, 5%);
  }
  &:active {
    background-color: darken($brand, 10%);
  }
  &.right {
    float: right;
    @include mobile {
      width: 100%;
    }
  }
}

.grey_box, .pink_box {
  background-color: $light_grey;
  padding: 25px;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px rgba(213,197,206,0.07);
}

.pink_box {
  background-color: $brand;
  color: #fff;

  .button {
    background-color: #fff;
    color: $brand;
  }
}

.white_bg {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px rgba(213,197,206,0.07);
}


.mb {
  margin-bottom: 15px !important;
}

body.index.services, body.services.new, body.services.create, body.services.show, body.patterns.show {
  background-color: $light_grey;
}

.container {
  &.full_container {
    padding-left: 0;
    padding-right: 0;
    @include mobile {
      padding-left: 13.5px;
      padding-right: 13.5px;
    }
  }
}

a {
  color: $brand;
  text-decoration: underline;
  &:hover {
    color: darken($brand, 10%);
    text-decoration: none;
  }
}



h2 {
  margin: 0 0 0.5em;
}


.two_col {
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(2);
  }
}
.only_mobile {
  display: none;
  @include mobile {
    display: block;
  }
}


.breadcrumbs {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  @include desktop {
    padding-top: 7px;
  }
}




body.home.index {
  h1 {
    font-size: 2.25em;
    margin-bottom: 15px;
  }
  .large_p {
    font-size: 1.25em;
    line-height: 1.4;
    max-width: 960px;
  }
  .accord-single {
    margin-bottom: 0;
  }
  .accord-toggle {
    font-weight: 600;
    color: $brand;
    margin-top: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
  .accord-cont {
    padding-top: 10px;
  }
}

.futura_title {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}



