.single_pattern {
  padding: 2px 7px;
  border-radius: $border-radius;
  display: inline-block;
  vertical-align: middle;
  color: $black;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  &.not_pattern {
    background-color: rgba($dark_gray, 0.2);
  }
}

.description {
  max-width: 960px;
  h3 {
    margin-top: 25px;
  }
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.single_pattern {
  padding: 2px 7px;
  border-radius: $border-radius;
  display: inline-block;
  vertical-align: middle;
  color: $black;
  text-decoration: none;

  &.check-something {
    background: rgba($turqoise, 0.2);
  }
  &.register-for-something {
    background: rgba($yellow, 0.2);
  }
  &.tell-something {
    background: rgba($purple, 0.2);
  }
  &.request-something {
    background: rgba($blue, 0.2);
  }
  &.apply-for-something {
    background: rgba($red, 0.2);
  }
  &.book-something {
    background: rgba($orange, 0.2);
  }
  &.pay-for-something {
    background: rgba($dark_purple, 0.2);
  }
  &.fg_brand {
    background: rgba($brand, 0.2);
  }
}

#pattern_links {
  .single_pattern {
    margin: 4px 2px;
    padding: 5px 20px;
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
    &.check-something {
      &:hover {
        background: rgba($turqoise, 0.9);
        color: #fff;
      }
    }
    &.register-for-something {
      &:hover {
        background: rgba($yellow, 0.9);
        color: #fff;
      }
    }
    &.tell-something {
      &:hover {
        background: rgba($purple, 0.9);
        color: #fff;
      }
    }
    &.request-something {
      &:hover {
        background: rgba($blue, 0.9);
        color: #fff;
      }
    }
    &.apply-for-something {
      &:hover {
        background: rgba($red, 0.9);
        color: #fff;
      }
    }
    &.book-something {
      &:hover {
        background: rgba($orange, 0.9);
        color: #fff;
      }
    }
    &.pay-for-something {
      &:hover {
        background: rgba($dark_purple, 0.9);
        color: #fff;
      }
    }
    &.fg_brand {
      &:hover {
        background: rgba($brand, 0.9);
        color: #fff;
      }
    }
  }
}

.active_ {
  .fg_brand {
    background: rgba($brand, 1);
    color: #fff;
  }
}
.active_check {
  .check-something {
    background: rgba($turqoise, 1);
    color: #fff;
  }
}
.active_register {
  .register-for-something {
    background: rgba($yellow, 1);
    color: #fff;
  }
}
.active_tell {
  .tell-something {
    background: rgba($purple, 1);
    color: #fff;
  }
}
.active_request {
  .request-something {
    background: rgba($blue, 1);
    color: #fff;
  }
}
.active_apply {
  .apply-for-something {
    background: rgba($red, 1);
    color: #fff;
  }
}
.active_book {
  .book-something {
    background: rgba($orange, 1);
    color: #fff;
  }
}
.active_pay {
  .pay-for-something {
    background: rgba($dark_purple, 1);
    color: #fff;
  }
}

.pattern_table {
  padding-bottom: 0;
  padding-top: 0;
  .single_pattern {
    font-size: 0.75em;
  }
}
