$black: #170710;
$brand: #e53094;
$light_gray: #F7F6F7;
$dark_gray: #504E4F;

$pink: $brand;
$dark_purple: #292242;
$purple: #46367F;
$red: #D02144;
$blue: #4792CF;
$turqoise: #0EB593;
$yellow: #FFC603;
$orange: #E77323;

$error: $red;

$light_grey: $light_gray;
$dark_grey: $dark_gray;


$border-radius: 3px;
$lower_opacity: 0.1;
$max_width: 800px;
