%header{:class => "fg_header", :role => "banner"}
  .container
    .two_col
      .logo
    .nav_container
      %nav
        %ul#js-navigation-menu.navigation-menu
          %li.nav-link
            %a{:href => "https://www.wearefuturegov.com/contact"} Contact
          %li.nav-link
            %a{:href => "https://www.wearefuturegov.com/careers"} Careers
          %li.nav-link
            %a{:href => "https://www.wearefuturegov.com/products"} Products
          %li.nav-link
            =link_to 'Patterns', root_url, class: 'active'
          .divider
          %li.nav-link.spacer
            %a{:href => "https://www.wearefuturegov.com/events"} Events
          %li.nav-link
            %a{:href => "https://www.wearefuturegov.com/work"} Case Studies
          %li.nav-link
            %a{:href => "http://blog.wearefuturegov.com"} Blog
          %li.nav-link
            %a{:href => "https://www.wearefuturegov.com/about"} About

.header_break
