%footer
  .container
    / .fg_logo
    / .x x
    / .essex_logo

    / %br
    / %br
    %p#copywrite
      This site is licensed under a Creative Commons
      =link_to "Attribution-NonCommercial-ShareAlike", "https://creativecommons.org/licenses/by-nc-sa/4.0/", target: "_blank"
      4.0 International license
      %br
      =link_to "View the legal code", "https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode", target: "_blank"

